.item-button {
    @include font("Montserrat", 1.4rem, $primary-decoration-color, 300);
    text-transform: capitalize;
    @include flex(row, flex-start, center);
    text-decoration: none;
    margin-top: 25px;
    width: 100px;
    height: 50px;
    position: relative;
  
    &:hover {
      &::before {
        width: 100%;
      }
    }
  
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 0;
      background-color: $first-color;
      bottom: 10px;
      transition: all 0.5s ease;
    }
  
    &::after {
      content: "";
      position: absolute;
      border: 6px solid transparent;
      border-left: 8px solid $primary-decoration-color;
      right: -5px;
    }
  }