$first-color: #ffffff;
$second-color: #555555;
$third-color: #8c8c8c;
$button-color: #988574;
$primary-decoration-color: #c7b299;
$slider-tags: #929294;
$service-decoration-line: #f1eee9;
$advertisement-bg: #fbfaf8;
$user-action-description: #615855;
$tag-border-color: #ebebeb;
$tag-bg: #998575;
$portfolio-work-bg: #2f2f2f;
$portfolio-description-hover-bg: #352f2d;
$portfolio-description-subname: #d1d1d1;
$video-play-button: #cccccc;
$video-shadow: #828284;
$blog-image-first-info-item-bg: #363636;
$blog-image-second-info-item-bg: #242424;
$blog-image-second-info-item-bg-hover: #a48d71;
$contacts-bg: #191919;
$contact-text-link: #00bff3;
$footer-bg: #101010;
