$header-text-color: #b3a2a2;
$primary-decoration-color: #bea67c;
$primary-decoration-color-transparent: rgba(190, 166, 124, 0.2);
$secondary-decoration-color: #010101;
$services-description-color: #464646;
$flying-one-letter: #faf9f6;
$flying-word: #f6f6f6;
$logo-and-some-btn-border: #ffffff;

$main-font: 'Merriweather Sans', sans-serif;
$another-font:'Archivo Black', sans-serif;